/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font families */
    --font-text: "Poppins", sans-serif;
    --font-title: "Pathway Gothic One", sans-serif;

    /* Core colors */
    --primary: #fbbf24;
    --on-primary: #fdfdfd;
    --primary-container: #e6d4a7;
    --on-primary-container: #332907;

    --secondary: #0e7490;
    --on-secondary: #fdfdfd;
    --secondary-container: #a4d8e6;
    --on-secondary-container: #052933;

    --tertiary: #006b5e;
    --on-tertiary: #fdfdfd;
    --tertiary-container: #9de6dd;
    --on-tertiary-container: #00332d;

    --success: #4ac087;
    --on-success: #ffffff;
    --success-container: #a9e6c0;
    --on-success-container: #008955;

    --error: #b3261e;
    --on-error: #ffffff;
    --error-container: #e6aca9;
    --on-error-container: #330b09;

    /* Background & surface */
    --background: #fcfcfb;
    --on-background: #333231;

    --surface: #fcfcfb;
    --on-surface: #333231;
    --surface-variant: #e6e3d9;
    --on-surface-variant: #666254;

    /* Elevation levels */
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f5f5f4;
    --surface-container: #e7e5e4;
    --surface-container-high: #d6d3d1;
    --surface-container-highest: #a8a29e;

    /* Outline / shadows */
    --outline: #807667;
    --outline-variant: #d1c5b4;
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);

    /* Inverse colors */
    --inverse-surface: rgb(52 48 39);
    --inverse-on-surface: rgb(249 240 226);
    --inverse-primary: rgb(237 192 108);

    /* Radii */
    --radius: 0.625rem;

    /* Charts */
    --chart-1: #fbbf24; /* color primario */
    --chart-2: #fccc4b;
    --chart-3: #fcd472;
    --chart-4: #fde099;
    --chart-5: #feebb9;
    --chart-6: #fef3cf;
    --chart-7: #fef7dc;
    --chart-8: #fff8e6;
    --chart-9: #fff9ed;
    --chart-10: #fffdf8; /* casi blanco */

    /* Fixed surfaces */
    --fixed-surface: rgb(22 19 11);
  }

  .dark {
    --primary: #e6cd8d;
    --on-primary: #4c3a0b;
    --primary-container: #664e0e;
    --on-primary-container: #e6d4a7;

    --secondary: #89d2e6;
    --on-secondary: #083e4c;
    --secondary-container: #0a5366;
    --on-secondary-container: #a4d8e6;

    --tertiary: #7fe6d9;
    --on-tertiary: #004c43;
    --tertiary-container: #00665a;
    --on-tertiary-container: #9de6dd;

    --success: #8fe6b0;
    --on-success: #0c4c25;
    --success-container: #106631;
    --on-success-container: #a9e6c0;

    --error: #e69490;
    --on-error: #4c100d;
    --error-container: #661511;
    --on-error-container: #e6aca9;

    --background: #333231;
    --on-background: #e6e5e2;

    --surface: rgb(32 29 22);
    --on-surface: #e6e5e2;
    --surface-variant: #666154;
    --on-surface-variant: #e6e1d4;

    --outline: #b3ad9f;
    --outline-variant: rgb(78 70 57);

    --inverse-surface: rgb(234 225 212);
    --inverse-on-surface: rgb(52 48 39);
    --inverse-primary: rgb(122 89 12);

    --fixed-surface: rgb(22 19 11);

    /* Elevation levels */
    --surface-container-lowest: #110e07;
    --surface-container-low: rgb(31 27 19);
    --surface-container: #231f17;
    --surface-container-high: rgb(46 42 33);
    --surface-container-highest: rgb(57 52 43);
  }
}

@layer base {
  * {
    @apply border-[var(--outline)];
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-text);
    background-color: var(--background);
    color: var(--on-background);
    color-scheme: light dark;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--outline-variant);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--outline);
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--outline-variant) transparent;
}
